node_modules/

.wwebjs_auth/
.wwebjs_cache/

public/*
!public/.gitkeep

uploads/*
!uploads/.gitkeep

temp/*
!temp/.gitkeep

src/services/uploads/*
!src/services/uploads/.gitkeep

.env

## Prisma
prisma/migrations/